<input id="searchInput" type="text" class="form-control input-sm twitterTypeahead" placeholder="Enter address, owner, PIN, REID, or street"/>
<div class="tabcontainer">
	<property-results ng-show="tab.title == 'Results'"></property-results>
	<property-info ng-show="tab.title == 'Info'"></property-info>
	<property-photos ng-show="tab.title == 'Photos'"></property-photos>
	<property-deeds ng-show="tab.title == 'Deeds'"></property-deeds>
	<property-taxes ng-show="tab.title == 'Tax Info'"></property-taxes>
	<property-services ng-show="tab.title == 'Services'"></property-services>
	<property-addresses ng-show="tab.title == 'Addresses'"></property-addresses>
</div>
<div id="proptabs">
	<span ng-model="tab" ng-repeat="tab in tabs" class="glyphicon glyphicon-{{tab.icon}}" ng-class="{highlighted: tab.highlighted}" title="tab.title" ng-click="tabClicked(tab)"></span>
</div>