<p class="btn-group">
    <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'Point'">Point</label>
    <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'Polygon'">Polygon</label>
    <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'Line'">Line</label>
    <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'Multi-Point'">Multi-Point</label>
</p>
<p style="display:inline-block">
  <strong style="display:inline-block">Buffer Distance</strong> <input class="form-control input-sm" value="0" style="display:inline-block;width: 60px"/> <span style="display:inline-block">ft</span>
</p>
