body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-overflow-scrolling: touch;
  background-color: #3D4044;
  -webkit-transition: background-color 0.6s ease-in-out 0s;
  transition: background-color 0.6s ease-in-out 0s;
}

[draggable=true] {
  -khtml-user-drag: element;
}

export-button {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}
export-button:hover {
  color: rgba(71,151,220,1);
}

#propertyToggle {
  position: absolute;
  top: 5px;
  right: 40px;
  z-index: 1;
  cursor: pointer;  
}

#propertyToggle .glyphicon:hover {
  color: rgba(71,151,220,1);
}


#logo {
  margin: 5px 20px 5px 5px;
}
.select-wrapper select {
  background-color: transparent !important;
  width: 100%;
  line-height: 20px;
  padding: 5px;
  font-size: 12px;
  border: 0;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #000;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.select-wrapper select option {
  color: white !important;
  background-color: rgba(60,60,60,0.8) !important;
}
.select-wrapper select::-ms-expand{
  display: none;
}
.panel-open .panel-heading{
  background-color: #008093 !important;
}
.select-wrapper {
  width: 100%;
  overflow: hidden;
  background: url("../images/downArrow.png") no-repeat right #fff;
  background-position: 95%;
  -moz-background-position: 95%;
  padding: 0;
  cursor: pointer;
}
.dropdown-menu {
  border-radius: 0;
}
.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.lead {
  margin-top: 10px;
  margin-bottom: 10px;
}
.accordion-toggle .icon {
  vertical-align: bottom;
  margin-left: .5em;
}
.accordion-toggle .icon {
  margin-right: .5em;
}
.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
#loading-bar-spinner {
/*  right: 10px;
  left: auto;*/
  position: absolute;
  left: 230px;
  top: 18px;
  z-index: 9999;
}
app-header {
  overflow: hidden;
}
.btn {
  border-radius: 0;
}
.navbar-brand {
  float: left;
height: 50px;
padding: 15px 15px;
font-size: 18px;
line-height: 20px;
color: #fff;
text-decoration: none;
font-weight: normal;
/* text-transform: uppercase; */
letter-spacing: 0.4em;
-webkit-transition: letter-spacing 0.5s;
transition: letter-spacing 0.5s;
font-size: 2em;
font-weight: bold;
}
.navbar-brand:hover {
  letter-spacing: 0.2em;
}
disclaimer blockquote {
  border: none;
}
disclaimer img {
  margin: 20px;
}
feedback textarea {
  max-width: 100%;
  max-height: 500px;
}
.modal .glyphicon {
  color: white;
}
.form-control {
  background-color: rgb(60, 60, 60) !important;
  color: white !important;
  border-radius: 0;
  border-color: rgb(204, 204, 204);
}

.input-group {
  border: solid rgb(204, 204, 204) 1px;
}
.navbar {
  margin-bottom: 0;
  background-color: #222;
}
.modal-content {
  background-color: rgb(60,60,60);
  color: white;
}
.panel-group .panel + .panel {
  margin-top:0 !important;
}
#map {
  background-color: black;
  position: fixed;
  top:52px;
  bottom: 0;
  right: 0;
  left: 0;
}
#loadingBackground {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3D4044;
    z-index: 10000;
}
#loading {
  width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3D4044;
  z-index: 10000;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: auto auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#loading img{
  text-align: center;
  position: relative;
  top: 10px;
  height: 80px;
  left: -5px;
 
}
/*hyperlinks*/
a, a:active, a:visited:not(.btn):not(.navbar-brand):not(.menu-link) {
  color: #68CEDD;
}
a:hover {
  color: yellow;
}
/*BootStrap overwrites*/
/*buttons*/
.btn-group {
  z-index: 1000;
}
.btn-default, .btn-default:active, .btn-default:focus {
  background-color: transparent;
  color: white;
}
.btn-default:hover, .btn-default.active {
  background-color: rgb(60, 60, 60) !important;
  border-color: rgba(71,151,220,1) !important;
  color: rgba(71,151,220,1) !important;
}
.btn-default.disabled, .btn-default[disabled] {
  color: #fff;
  background-color: black;
  opacity: 0.1;
}
.glyphicon.highlighted{
  -moz-text-shadow: 0 0 16px rgba(71,151,220,1),0 0 16px rgba(0, 137, 255, 1),0 0 16px rgba(0, 137, 255, 1);
  text-shadow: 0 0 16px rgba(71,151,220,1),0 0 16px rgba(0, 137, 255, 1),0 0 16px rgba(0, 137, 255, 1);
}
/*map panels*/
.collapse-header {
  color: white;
  font-size: 16pt;
  font-weight: normal;
  margin: 1em;
  cursor: pointer;
}
.collapse-header .glyphicon{
  color: white;
  margin-right: 10px;
  font-size: 16pt;
}
.collapse-header .glyphicon:before{
  vertical-align: middle;
}
.collapse-panel {
  color: white;
    overflow: hidden;
    transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-property: width, height; -webkit-transition-property: width, height;
}
/*basemap panel*/
base-map-panel {
  position: absolute;
  top: 52px;
  right:300px;
  z-index: 100;
  background-color: rgba(60,60,60,0.8);
  border-radius: 0;
  transition-property: right;
  transition: 0.5s;
    -moz-box-shadow: 0 0 16px rgba(0,0,0,0.8);
  box-shadow: 0 0 16px rgba(0,0,0,0.8);
  padding: 4px 0 4px 0;
  width: 186px;
}
.selected-basemap img{
  -moz-box-shadow: 0px 0px 23px 0px rgba(71,151,220,1);
  box-shadow: 0px 0px 23px 0px rgba(71,151,220,1);
}
.basemap-type img{
  margin: 10px;
  width: 76px;
  height: 51px;
}
base-map-panel .collapse-panel {
  padding: 0;
}
base-map-panel .collapse-panel.collapsed {
  padding: 0 10px 10px 10px;
  height: 200px;
}
.basemap-type {
  cursor: pointer;
}
/*tool panel*/
tool-panel {
  position: absolute;
  top: 52px;
  left:0px;
  z-index: 1000;
  color: white;
  background-color: rgba(60,60,60,0.8);
  border-radius: 0 0 0 0;
  -moz-box-shadow: 0 0 16px rgba(0,0,0,0.8);
  box-shadow: 0 0 16px rgba(0,0,0,0.8);
  padding: 4px 0 4px 0;
}
tool-panel .glyphicon {
  cursor: pointer;
  padding: 4px;
}
.tool-wrapper {
  margin: 9px;
}
.tool-title {
  margin-left: 10px;
}
/*bookmark tool*/
.bookmark {
  margin-bottom: 4px;
}
.bookmark-name {
  display: inline-block;
  width: 200px;
  cursor: pointer;
}
.bookmark-input {
  display: inline-block;
  width: 210px;
}
/*property select tool*/
select-tool input::ms-clear {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
select-tool .has-feedback > input{
  display:inline-block !important;
  width: 100px !important;
  padding-left: 10px !important;
}
select-tool .form-control-feedback {
  right: 50px; 
  top: -4px;
}
.print-message {
    white-space: nowrap;
    -webkit-animation: marquee 4s linear;
    margin-right: 10000px;
}

@-webkit-keyframes marquee {
    0%   {margin-right: 100%}
    100$ {margin-right: 0}
}

@keyframes marquee {
    0%   {margin-right: 100%}
    100$ {margin-right: 0}
}
/*draw tool*/
draw-tool textarea {
  max-width: 100%;
  max-height: 90px;
  min-height: 90px;
}

#fontSize {
  width: 60px;
  display: inline-block;
  margin-left: 1em;
  margin-right: .5em;
}
/*overview panel*/
overview-panel {
  position: absolute;
  bottom: 0;
  right:300px;
  z-index: 100;
  background-color: rgba(60,60,60,0.8);
  border-radius: 0 0  0  ;
  transition-property: right;
  transition: 0.5s;
    -moz-box-shadow: 0 0 16px rgba(0,0,0,0.8);
  box-shadow: 0 0 16px rgba(0,0,0,0.8);
  padding: 4px 0 4px 0;
  width: 186px;
}
.esriOverviewMap {
  width: 100% !important;
}
.ovwContainer {
  width: 100% !important;
}
#overview-map {
  width: 100% !important;
}
#overview-map_root {
  width: 100% !important;
}
/*overwrite react grid classes*/
.ngReactGrid {
    padding: 0;
    cursor: pointer;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
.esriPopup .contentPane {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

property-info .ngReactGrid {
    cursor: auto;
}

.ngReactGrid .ngReactGridFooter, .ngReactGrid table th, .ngReactGrid h1, .ngReactGrid .ngReactGridHeaderWrapper{
  margin-top: 0px;
  background: rgba(60, 60, 60, 0.4);
  color: white;
}
.ngReactGridFooter {
  display: none;
}
.ngReactGrid table {
  background-color: rgba(60, 60, 60, 0.4);
  color: white;
}
.ngReactGrid table tr:nth-child(odd) td {
  background: rgba(90, 90, 90, 0.4);
}
.ngReactGrid table tr:nth-child(even) td {
  background: rgba(60, 60, 60, 0.4);
}
.ngReactGrid table tr {
  border: 1px solid #CCC;
}
.ngReactGrid .ngGridHeaderCellText {
    width: auto;
    margin-right: 5px;
}
/*side panel*/
side-panel {
  z-index: 101;
}
.ng-pageslide-right {
  background: rgba(255,255,255,0);
  z-index: 1000; position: fixed; width: 300px; height: 100%; overflow: hidden; transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-property: width, height; -webkit-transition-property: width, height; top: 52px !important; bottom: 0px; right: 0px;
  }
.panel-default > .panel-heading {
  background: rgb(84,134,50);
  -moz-box-shadow: 0 0 16px rgba(0,0,0,0.8);
  box-shadow: 0 0 16px rgba(0,0,0,0.8);
  border: none;
  margin-top: 0 !important;
  color: white;
  border-radius: 0;
}
.panel-default {
  border: none;
}
.accordion {
  position: relative;
  overflow: none;
}
.panel {
  background-color: transparent;
}
.panel-body {
  background-color: rgba(60,60,60,0.8);
  color: white;
  border: none !important;
}
/*property search*/
property-search {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: none;
}
.has-feedback .glyphicon {
  z-index: 10000;
  pointer-events: all;
}
.has-feedback .glyphicon-search {
  right: auto !important;
}
.has-feedback .glyphicon-remove {
  cursor: pointer;
}

.has-feedback input {
  padding-left: 30px;
  padding-right: 30px !important;
}
.form-control-feedback {
  line-height: 30px;
  width: 30px;
}
.typeahead::ms-clear{
  display: none;
  width : 0;
  height: 0;
}
.typeahead-clear {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #ddd;
  cursor: pointer;
  z-index: 1000;
}
.tabcontainer {
  position: absolute;
  top: 40px;
  left: 0px;
  bottom: 30px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#proptabs {
  position: absolute;
  bottom: -15px;
  left: -15px;
  right: -15px;
  height: 40px;
  background: #444;
  display: inline-block;
  padding-right: 22px;
  padding-left: 22px;
}
#proptabs .glyphicon {
  font-size: 16pt;
  margin: 6px 12px 6px 6px;
  cursor: pointer;
}
property-photos img {
  width:100%;
  margin-bottom:1em;
  cursor:pointer;
}

.grid-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid-footer .glyphicon {
  cursor: pointer;
}
.disabledTab {
  opacity: 0.05;
}
.service-item {
  margin-bottom: 10px;
}
.service-item strong {
  font-weight: bolder;
}
/*layer list*/
layer-list .panel-body {
  padding: 0 0 0 15px;
  overflow: auto;
}
.layer .btn {
  margin-right: 6px;
}

.accordion-toggle:focus{outline: none;}
.out-scale {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);
}

.ie .out-scale .btn-success {
  background-color: #778977;
  border-color: #849884;
}

.ie .out-scale .btn-danger {
  background-color: #846A69;
  border-color: #765857;
}

.panel-title {
  cursor: pointer;
}

.layer {
  margin-top: 6px;
  margin-bottom: 6px;
}
.layer strong {
  cursor: pointer;
}
.sub-layer {
  margin-top: 6px;
  margin-left: 20px;
  margin-bottom: 6px;
  font-size: 12px;

}
.sub-layer-toggle {
      display: flex;
}
.sub-layer span {
  cursor: pointer;
  margin-bottom: 5px;
}
.legend {
  padding: 5px;
}
.legend img {
  margin-right: 6px;
  height: 20px;
  width: 20px;
}
/*opacity slider*/
slider {
  position: relative;
  height: 20px;
  margin-top: 30px;
  margin-right: 50px;
  width: 95%;
  display: block;
}
::-ms-tooltip {
    display: none;
}
.bar {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #eee;
  top: 0;
}
.pointer {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  background: #949494;
  top: 0;
  cursor: pointer;
}
.bubble {
  position: absolute;
  top: -100%;
  display: block;
}
/*overwrite Esri classes*/
.esriPopup .titleButton.maximize {
  display: none;
}
.arcgisSearch {
  position: absolute;
  bottom: 6px;
  left: 6px;
  z-index: 1000;
}
.arcgisSearch .searchMenu {
  top: auto !important;
}
.suggestionsMenu {
  position: absolute !important;
  bottom: 40px;
  left: 6px;
}
.noResultsMenu {
  position: absolute !important;
  bottom: 40px;
  left: 6px;
  }
.sourcesMenu {
  position: absolute !important;
  bottom: 40px;
  left: 6px;
  }
.esriSimpleSliderBL {
  bottom: 10px !important;
  border-color: white !important;
}
.esriSimpleSliderBL div{
  color: white;
  background-color: rgba(60,60,60,0.8) ;
  border-color: white !important;
}
.esriSimpleSliderBL div:hover{
  color: rgba(71,151,220,1);
  background-color: rgba(60,60,60,0.8) ;
  border-color: rgba(71,151,220,1) !important;
}
.esriSimpleSliderDisabledButton {
  color: #aaa !important;
  background-color: #bbb !important;
}
.searchBtn {
  background-color: rgba(60,60,60,0.8) !important;
  border-color: white !important;
    border-radius: 0 !important;
}
.searchIcon {
  color: white;
}
.searchInput, .searchClose, .searchSpinner {
  background-color: rgb(60, 60, 60) !important;
  color: white !important;
}
#homeButton {
  position: absolute;
  bottom: 10px;
  left: 75px;
  z-index: 50;
}
.HomeButton .home {
  background-color: rgba(60,60,60,0.8) !important;
  border-radius: 0 !important;
  border-color: white !important;
  border: solid;
  border-width: 1px;
  height: 32px !important;
  width: 32px !important;
  background-image: url('../images/globe.png') !important;
}
#locateButton {
  position: absolute;
  bottom: 10px;
  left: 112px;
  z-index: 50;
    background-color: rgba(60,60,60,0.8) !important;

}
.LocateButton .zoomLocateButton {
  background-color: rgba(60,60,60,0.8) !important;
  border-radius: 0 !important;
  border-color: white !important;
  border: solid;
  border-width: 1px;
  height: 32px !important;
  width: 32px !important;
}
.map .tooltip {
  width: 100px;
  word-wrap: break-word;
  position: absolute !important;
  border: 1px solid #7EABCD;
  background-color: rgba(0,0,0,0.5) !important;
  color: white;
  padding: 5px;
  font-size: 9pt;
  z-index: 9999;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  opacity: 1 !important;
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 321px) {

  .toggle-expanded {
    right: 280px !important;
  }
  #proptabs .glyphicon {
    margin: 6px 9px 6px 6px;
  }
}



@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
  tool-panel:not(.android) {
    display: none;
  }
  overview-panel {
    display: none;
  }
  base-map-panel {
    display: none !important;
  }
  pageslide:not(.android) {
    display: none;
  }
  toggle-button:not(.android) {
    display: none;
  }
  map-coordinates{
    display: none;
  }
}
toggle-button div{
  cursor: pointer;
  color: white;
  font-size: 16pt;
  position: absolute;
  background-color: rgba(60,60,60,.8);
  padding: 0.5em .25em 0.5em 0.25em;
  border-radius: 0;
  transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-property: right; -webkit-transition-property: right;
}
.toggle-collapsed {
  right: 0;
}
.toggle-expanded {
  right: 300px;
}
.esriSimpleSlider {
border-radius: 0 !important;
  }
 .esriSimpleSliderHorizontal .esriSimpleSliderIncrementButton {
border-radius: 0 !important;
 }
 .esriSimpleSliderHorizontal .esriSimpleSliderDecrementButton {
border-radius: 0 !important;
 }
.tt-dropdown-menu {
  border-radius: 0 !important;
  color: white !important;
  background-color: rgb(60,60,60) !important;
  z-index: 10000;
}

location-search .dropdown-menu {
  border-radius: 0 !important;
  color: white !important;
  background-color: rgb(60,60,60) !important;
  z-index: 10000;
  width: 100%;
}

location-search .dropdown-menu > li > a{
  color: white !important;
}

location-search .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  background-color: white !important;
  color: black !important;
}

.panel-body {
  padding: 15px 5px 15px 5px;
}
input::-ms-clear {
    display: none;
}
location-search .form-control {
  margin-bottom: 1em;
}
utility-search .form-control {
  margin-bottom: 1em;
}


#utilityResults {
    bottom: 0;
    top: 180px;
    position: absolute;
    overflow: auto;
    right: 0;
    left: 0;

}

#utilityResults strong{
    cursor: pointer;
}

#place {
  position: absolute;
  bottom: 0;
  top: 120px;
  overflow: auto;
  right: 0;
  left: 0;
  text-align: center;
}
#place img {
  max-height: 150px;
}



/* customer scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,0.4); 
}


.browser-warning {
  position:absolute;
  background-color:#444;
  color:white;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:100000;
  padding: 40px;
}


.browser-warning .btn {
  background: none;
  color: white;
}

.browser-warning .glyphicon-warning-sign {
  font-size: 20px;
}

coordinate-search input[type=number]::-webkit-outer-spin-button,
coordinate-search input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

coordinate-search input[type=number] {
    -moz-appearance:textfield;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #DE4E4B;
}

map-coordinates {
  z-index:10000;
  position: absolute;
  bottom: .5em;
  left: 5px;
}
/*map-coordinates .btn-default, .btn-default:active, .btn-default:focus {
   background-color: rgba(60,60,60,0.8)!important;
   border-color: white !important;
   color: white !important;
}

map-coordinates .btn-default:hover, .btn-default.active {
    background-color: rgba(60,60,60,0.8) !important;
    border-color: white !important;
    color: white !important;
}*/
