<p class="btn-group">
    <label class="btn btn-default btn-sm" ng-model="measureType" btn-radio="{type: 'area', shape: 'polygon'}">Area</label>
    <label class="btn btn-default btn-sm" ng-model="measureType" btn-radio="{type: 'length', shape: 'polyline'}">Length</label>
    <label class="btn btn-default btn-sm" ng-model="measureType" btn-radio="{type: 'coordinates', shape: 'point'}">Coordinates</label>
</p>
<p>
  Units
  <select ng-options="unit as unit.label for unit in units | filter: filterUnits" ng-model="unit" ng-change="unitChanged(unit)" class="form-control input-sm"></select>
</p>
<p>
  Measurement Results
</p>
