<div class="tool-wrapper">
<div class="btn-group">
    <label class="btn btn-default btn-sm" ng-model="drawType" btn-radio="{name:'Point', shape: 'point'}">Point</label>
    <label class="btn btn-default btn-sm" ng-model="drawType" btn-radio="{name:'Poylgon', shape: 'polygon'}">Polygon</label>
    <label class="btn btn-default btn-sm" ng-model="drawType" btn-radio="{name:'Line', shape: 'polyline'}">Line</label>
    <label class="btn btn-default btn-sm" ng-model="drawType" btn-radio="{name:'Text', shape: 'point'}">Text</label>
</div>
<button ng-click="undo()" class="btn btn-sm btn-default">Undo</button>
<br/><br/>
<textarea placeholder="Enter text here, then click on map..." ng-model="drawText" ng-show="drawType.name == 'Text'" class="form-control input-sm"></textarea>
</div>
