<span class="collapse-header" ng-click="mapsHeaderClick(mapsChecked)">
	<span class="glyphicon glyphicon-menu-down" ng-class="{'glyphicon-menu-down': !mapsChecked, 'glyphicon-menu-up': mapsChecked}"></span>Maps</span>
<br/>
<div class="collapse-panel" ng-style="{'height': ((mapsChecked) ? baseMapPanel.height + 'px' : 0)}" ng-class="{'collapsed': mapsChecked}">
	<div>
		<div ng-click="basemapTypeClicked('streets')" ng-class="{'selected-basemap':basemapType === 'streets'}" class="basemap-type">
			<img ng-src="images/{{config.map.basemaps.streets.thumbnail}}"/>Street Map
		</div>
		<div class="select-wrapper form-control input-sm" ng-show="basemapType === 'streets'">
			<select ng-options="layer as layer.name for layer in config.map.basemaps.streets.layers" ng-model="basemap" class="form-control input-sm" ng-change="basemapChanged(basemap, basemapType)"></select>
		</div>
	</div>
	<div>
		<div ng-click="basemapTypeClicked('images')" ng-class="{'selected-basemap':basemapType === 'images'}" class="basemap-type">
			<img ng-src="images/{{config.map.basemaps.images.thumbnail}}"/><span class="basemap-label" style="display: inline-block">Aerials<label ng-show="basemapType === 'images'"><input ng-model="labels.checked" type="checkbox"  ng-change="labelsChecked()">Labels</label></span>

		</div>
		<div class="select-wrapper form-control input-sm" ng-show="basemapType === 'images'">
			<select ng-options="layer as layer.name for layer in config.map.basemaps.images.layers | filter: showAerial" ng-model="basemap" class="form-control input-sm" ng-change="basemapChanged(basemap, basemapType, true)"></select>
		</div>
		<div ng-show="basemapType === 'images'">
			<label><input ng-model="blend.checked" type="checkbox"  ng-change="blendChecked()">Blend</label>
			<div ng-show="basemapType === 'images' && blend.checked">
				<slider ng-model="blend.opacity" floor="0" ceiling="1" precision="2" ng-change="baseOpacityChanged()" ng-init="initSlider(blend)"></slider>
				<span class="blend-label low">STREETS</span><span class="blend-label high">AERIALS</span>
			</div>
	   </div>
	</div>
<!-- 	<btn class="btn btn-success btn-sm">Labels?</btn> -->
</div>
