<span class="collapse-header" ng-click="mapsHeaderClick(mapsChecked)">
	<span class="glyphicon glyphicon-menu-down" ng-class="{'glyphicon-menu-down': !mapsChecked, 'glyphicon-menu-up': mapsChecked}"></span>Maps</span>
<br/>
<div class="collapse-panel" ng-style="{'height': ((mapsChecked) ? '200px': 0)}" ng-class="{'collapsed': mapsChecked}">
	<div>
		<div ng-click="basemapTypeClicked('streets')" ng-class="{'selected-basemap':basemapType === 'streets'}" class="basemap-type">
			<img ng-src="images/{{config.map.basemaps.streets.thumbnail}}"/>Street Map
		</div>
		<select ng-options="layer as layer.name for layer in config.map.basemaps.streets.layers" ng-model="basemap" class="form-input input-sm" ng-show="basemapType === 'streets'" ng-change="basemapChanged(basemap, basemapType)"></select>
	</div>
	<div>
		<div ng-click="basemapTypeClicked('images')" ng-class="{'selected-basemap':basemapType === 'images'}" class="basemap-type">
			<img ng-src="images/{{config.map.basemaps.images.thumbnail}}"/>Aerials
		</div>
		<select ng-options="layer as layer.name for layer in config.map.basemaps.images.layers" ng-model="basemap" class="form-input input-sm" ng-show="basemapType === 'images'" ng-change="basemapChanged(basemap, basemapType)"></select>
	</div>
<!-- 	<btn class="btn btn-success btn-sm">Labels?</btn> -->
</div>