<div ng-show="deeds.length > 0">
<p class="lead page-header">Deeds</p>
<div ng-repeat="deed in deeds" ng-model="deed" style="display:inline-text">
	<span class="selectable">Book {{deed.book}} Page {{deed.page}}</span>
	<br/>
	<span class="selectable">{{deed.date | date:'MM/dd/yyyy'}}</span>
	<br/><br/>
	<a analytics-on="click" analytics-category="Property Search" analytics-event="Deed Clicked" analytics-label="View" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/docview.aspx?docid={{deed.deedDoc}}" target="_blank">View</a>
	<a analytics-on="click" analytics-category="Property Search" analytics-event="Deed Clicked" analytics-label="PDF" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/pdfview.aspx?docid={{deed.deedDoc}}&RecordDate=" target="_blank">PDF</a>
</div>
</div>
<br/>
<div ng-show="plats.length > 0">
<p class="lead page-header">Maps &amp; Plats</p>
<div ng-repeat="plat in plats" ng-model="plat" style="display:inline-text" ng-show="plat.bomDoc != '0'">
	<span class="selectable">Document # {{plat.bomDoc}}</span>
	<br/><br/>
	<a analytics-on="click" analytics-category="Property Search" analytics-event="Plat Clicked" analytics-label="View" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/docview.aspx?docid={{plat.bomDoc}}" target="_blank">View</a>
	<a analytics-on="click" analytics-category="Property Search" analytics-event="Plat Clicked" analytics-label="PDF" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/pdfview.aspx?docid={{plat.bomDoc}}&RecordDate=" target="_blank">PDF</a>
</div>
</div>
