<div ng-show="deeds.length > 0">
<p class="lead page-header">Deeds</p>
<div ng-repeat="deed in deeds" ng-model="deed" style="display:inline-text">
	<div ng-show="deed.attributes.DEED_DOC_NUM">
		<span class="selectable">Book {{deed.attributes.DEED_BOOK}} Page {{deed.attributes.DEED_PAGE}}</span>
		<br/>
		<span class="selectable">{{deed.attributes.DEED_DATE | date: 'MM/dd/yyyy'}}</span>
		<br/><br/>
		<a analytics-on="click" analytics-category="Property Search" analytics-event="Deed Clicked" analytics-label="View" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/docview.aspx?docid={{deed.attributes.DEED_DOC_NUM}}" target="_blank">View</a>
		<a analytics-on="click" analytics-category="Property Search" analytics-event="Deed Clicked" analytics-label="PDF" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/pdfview.aspx?docid={{deed.attributes.DEED_DOC_NUM}}&RecordDate=" target="_blank">PDF</a>
	</div>
	<div ng-show="!deed.attributes.DEED_DOC_NUM">
		Document not available for this property
	</div>
</div>
</div>
<br/>
<div ng-show="plats.length > 0">
<p class="lead page-header">Maps &amp; Plats</p>
<div ng-repeat="plat in plats" ng-model="plat" style="display:inline-text" ng-show="plat.attributes.BOM_DOC_NUM && plat.attributes.BOM_DOC_NUM != 0">
	<span class="selectable">Document # {{plat.attributes.BOM_DOC_NUM}}</span>
	<br/><br/>
	<a analytics-on="click" analytics-category="Property Search" analytics-event="Plat Clicked" analytics-label="View" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/docview.aspx?docid={{plat.attributes.BOM_DOC_NUM}}" target="_blank">View</a>
	<a analytics-on="click" analytics-category="Property Search" analytics-event="Plat Clicked" analytics-label="PDF" class="btn btn-default btn-sm" ng-href="http://services.wakegov.com/booksweb/pdfview.aspx?docid={{plat.attributes.BOM_DOC_NUM}}&RecordDate=" target="_blank">PDF</a>
</div>

</div>
