<form class="form-horizontal">
  <div class="form-group">
    <label for="printTitle" class="col-xs-2 control-label">Title</label>
    <div class="col-xs-10">
      <input type="text" class="form-control input-sm" id="printTitle" ng-model="printTitle" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <label for="printSize" class="col-xs-2 control-label">Size</label>
    <div class="col-xs-5">
      <select class="form-control input-sm" id="printSize" ng-options="printSize as printSize.label for printSize in printSizes" ng-model="printSize"></select>
    </div>
    <div class="col-xs-5">
      <select class="form-control input-sm" id="printOrient" ng-options="printOrient as printOrient.label for printOrient in printOrients" ng-model="printOrient"></select>
    </div>
  </div>
  <div class="form-group">
    <label for="printScale" class="col-xs-2 control-label">Scale</label>
    <div class="col-xs-5">
      <select class="form-control input-sm" id="printScale" ng-options="printScale as printScale.label for printScale in printScales" ng-model="printScale"></select>
    </div>
    <div class="col-xs-5">
      <span style="display:inline-block">1" = </span>
      <input class="form-control input-sm" id="customScale" ng-model="printScale" style="width:50px;display:inline-block"></select>
      <span style="display:inline-block">'</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Include Property Attributes?
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button id="printBtn" type="submit" class="btn btn-default" ng-click="printPDF(map, layers)" data-loading-text="Printing...">Print</button>
    </div>
  </div>
</form>
