<div class="tool-wrapper">
  <div style="height:130px;overflow-y:auto">
    <div ng-repeat="bookmark in config.tools.bookmarks">
      <div class="bookmark-name" ng-click="goToBookmark(bookmark)">{{bookmark.name}}</div>
      <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>
  <br/>
  <div>
      <input class="bookmark-input form-control input-sm" placeholder="Bookmark Name"></span>
      <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span>Add</button>
  </div>
</div>
