<div ng-style="accordionHeight" class="panel-contain">
  <input class="form-control input-sm" ng-model="layerFilterValue" placeholder="Filter layers by name" style="display: inline-block;width:90%;"/>
  <span class="glyphicon glyphicon-eye-close" style="display: inline-block;cursor:pointer" ng-click="clearLayers(layers)" uib-tooltip="{{((touch) ? '' : 'Clear all layers')}}" tooltip-placement="left" tooltip-append-to-body="true"></span>
  <div class="layer" ng-repeat="layer in layers | orderBy: 'title' | filter: filterLayers" ng-model="layer" >
    <div ng-class="{'out-scale': (scale > layer.resourceInfo.minScale) && layer.resourceInfo.minScale > 0}" class="layer-toggle">
      <span  uib-tooltip="{{(((scale > layer.resourceInfo.minScale) && layer.resourceInfo.minScale > 0) ? 'Not Visible At This Scale' : '')}}" tooltip-placement="left" tooltip-append-to-body="true">
        <button ng-if="layer.title.indexOf('[hidden]') == -1" analytics-on="click" analytics-if="!layer.visibility" analytics-category="Layers" analytics-event="Turned On" analytics-label="{{layer.title}}" class="btn" ng-class="{'btn-danger': !layer.visibility, 'btn-success': layer.visibility}" ng-click="layerToggle(layer, webmap)">{{((layer.visibility) ? 'On' : 'Off')}}</button>
        <strong ng-if="layer.title.indexOf('[hidden]') == -1" ng-click="layerToggle(layer, webmap)">{{layer.title}}
        </strong>
      </span>
      <span ng-if="layer.title.indexOf('[hidden]') == -1" style="margin-left:0.5em;cursor: pointer;" class="glyphicon glyphicon-zoom-in" ng-click="zoomToLayer(layer)" ng-show="scale > layer.resourceInfo.minScale && layer.resourceInfo.minScale > 0" uib-tooltip="{{((touch) ? '' : 'Zoom to make visible')}}" tooltip-placement="left" tooltip-append-to-body="true">
      </span>
    </div>
    <slider ng-model="layer.opacity" floor="0" ceiling="1" precision="2" ng-if="layer.visibility && layer.title.indexOf('[hidden]') == -1" ng-change="opacityChanged(layer, webmap)" translate-fn="translate" ng-init="initSlider(layer)"></slider>
    <div class="sub-layer" ng-repeat="sublayer in layer.resourceInfo.layers" ng-model="sublayer" ng-if="layer.visibility" ng-if="sublayer.name != 'Default'">
        <div ng-class="{'out-scale': scale > sublayer.minScale && layer.resourceInfo.minScale > 0}" class="sub-layer-toggle">
          <span uib-tooltip="{{((scale > sublayer.minScale && layer.resourceInfo.minScale > 0 && !touch) ? 'Not Visible At This Scale' : '')}}" tooltip-placement="left" tooltip-append-to-body="true">
            <button analytics-on="click" analytics-if="!sublayer.visibility" analytics-category="Sublayers" analytics-event="Turned On" analytics-label="{{sublayer.name}}" class="btn btn-sm" ng-class="{'btn-danger': !sublayer.defaultVisibility, 'btn-success': sublayer.defaultVisibility}" ng-click="subLayerToggle(layer, sublayer, webmap)">{{((sublayer.defaultVisibility) ? 'On' : 'Off')}}
            </button>
            <span ng-click="subLayerToggle(layer, sublayer, webmap)">{{sublayer.name}}</span>
          </span>
          <span style="margin-left:0.5em;cursor: pointer;margin-top: 0.5em;" class="glyphicon glyphicon-zoom-in" ng-click="zoomToSubLayer(sublayer)" ng-if="scale > sublayer.minScale && layer.resourceInfo.minScale > 0"  uib-tooltip="{{((touch) ? '' : 'Zoom to make visible')}}" tooltip-placement="left" tooltip-append-to-body="true"></span>
        </div>
      <div class="legend" ng-repeat="legend in sublayer.legend" ng-model="legend" ng-if="sublayer.defaultVisibility">
        <img ng-src="data:image/png;base64,{{legend.imageData}}" ng-style="{'opacity': layer.opacity}"/>{{legend.label}}
      </div>
    </div>
  </div>
</div>
