<!-- <div ui-grid="infoOptions" ui-grid-auto-resize ui-grid-exporter ></div> 
 -->
<!-- <table id="propertyInfo" st-table="accountInfo" class="table table-condensed">
	<thead><th>Field</th><th>Value</th>
	<export-button array="accountInfo" filename="imaps_info.csv"></export-button>
	</thead>
	<tbody><tr ng-repeat="info in accountInfo" ng-model="info"><td>{{info.field}}</td><td>{{info.value}}</td></tr></tbody>
</table> -->
<div style="width:100%;">
	<ng-react-grid grid="infoGrid"></ng-react-grid>
</div>
<div class="grid-footer">
<span class="glyphicon glyphicon-chevron-left" ng-click="toggleProperty(false)"></span>
<span class="glyphicon glyphicon-chevron-right" ng-click="toggleProperty(true)"></span>
	<export-button array="accountInfo"></export-button>
</div>