// =======================================================================================================
// Calcite Messaging
// =======================================================================================================
/* Warning Message */
calciteArcGISPro_WarningMessage() {
  background-color: Calcite_Vibrant_Yellow_100;
  color: $textColorDefault;
}
calciteArcGISPro_WarningIcon() {
  iconfont("esri-icon-notice-triangle")
  font-size $fontSizeIconDefault
}

/* Success Message */
calciteArcGISPro_SuccessMessage() {
  background-color: Calcite_Green_100
  color: $textColorDefault;
}
calciteArcGISPro_SuccessIcon() {}

/* Error Message */
calciteArcGISPro_ErrorMessage() {
  background-color: Calcite_Vibrant_Red_100
  color: $textColorDefault;
}
calciteArcGISPro_ErrorIcon() {}
